.delado{
    float: left;
    width: auto;
}
.centrado{
    display: flex;
    justify-content: center;
}
.galeria{
    margin: 10px;
    border: 1px solid green;
    float: left;
    width: 25vw;
}
div.galeria img{
    width: 100%;
    height: auto;
}
.descripcion{
    padding: 15px;
    text-align: center;
}